[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
colorlog = "*"
build = "*"
twine = "*"
sphinx = "*"
sphinx-book-theme = "*"
sphinx-copybutton = "*"
pynani = {file = "."}

[dev-packages]

[requires]
python_version = "3.12"
